## 对user_info.txt的EDA和预处理
除了userId，其他列均有缺失值。

对于OS、province、city：添加一个"Unknown"类别。

对于age、gender：概率均分。

共有1538384个用户。

输出user_info.pkl。

In [1]:
import gc
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from time import time
pd.set_option('expand_frame_repr', False)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 1000)
pd.set_option('max_colwidth', 200)

In [2]:
user_path = '../data/user_info.txt'
st = time()
user_df = pd.read_csv(user_path, header=None, sep='\t',
                    names=['userId', 'deviceName', 'OS', 'province', 'city', 'age', 'gender'],
                    dtype={'userId': 'category', 'deviceName': 'category', 'OS': 'category', 'province': 'category',
                           'city': 'category', 'age': 'object', 'gender': 'object'})
ed = time()
print(user_df.info())
print(f'read csv: {ed - st: .2f}s')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1538384 entries, 0 to 1538383
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   userId      1538384 non-null  category
 1   deviceName  1470640 non-null  category
 2   OS          1470576 non-null  category
 3   province    1446124 non-null  category
 4   city        1442312 non-null  category
 5   age         1478493 non-null  object
 6   gender      1479812 non-null  object
dtypes: category(5), object(2)
memory usage: 83.7+ MB
None
read csv:  8.17s

In [3]:
# st = time()
# user_df = pd.read_pickle('user_info.pkl')
# ed = time()
# print(user_df.info())
# print(f'pickle: {ed - st: .2f}')
# user_df.head()

In [4]:
print(user_df.info())
print('-----------------------------------')
print(user_df.head())
print('-------------- --------------------')
print('NULL values count in each column:')
print(user_df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1538384 entries, 0 to 1538383
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   userId      1538384 non-null  category
 1   deviceName  1470640 non-null  category
 2   OS          1470576 non-null  category
 3   province    1446124 non-null  category
 4   city        1442312 non-null  category
 5   age         1478493 non-null  object
 6   gender      1479812 non-null  object
dtypes: category(5), object(2)
memory usage: 83.7+ MB
None
-----------------------------------
       userId deviceName       OS province city                                                               age                         gender
0  1000372820   TAS-AN00  Android       广东   广州  A_0_24:0.404616,A_25_29:0.059027,A_30_39:0.516550,A_40+:0.019806  female:0.051339,male:0.948661
1  1000652892     PACM00  Android       河北   唐山  A_0_24:0.615458,A_25_29:0.086233,A_30_39:0.141408,A_40+:0.156901  female:0.280295,male:0.719705
2  1000908852       MI6X  Android       上海   上海  A_0_24:0.123255,A_25_29:0.208225,A_30_39:0.298089,A_40+:0.370431  female:0.000000,male:1.000000
3  1001168798   iPhone11      IOS      NaN  NaN  A_0_24:0.436296,A_25_29:0.489370,A_30_39:0.061560,A_40+:0.012773  female:0.870710,male:0.129290
4  1001305614  M2103K19C  Android       江苏   苏州  A_0_24:0.006632,A_25_29:0.043408,A_30_39:0.350842,A_40+:0.599118  female:0.000000,male:1.000000
-------------- --------------------
NULL values count in each column:
userId            0
deviceName    67744
OS            67808
province      92260
city          96072
age           59891
gender        58572
dtype: int64

In [5]:
userId = user_df['userId']
print(f'total {userId.size} users.')
userId.value_counts(dropna=False, )

total 1538384 users.

1000372820    1
2400553116    1
2400558968    1
2400558508    1
2400557464    1
             ..
2445826628    1
2445826006    1
2445825836    1
2445825782    1
999902420     1
Name: userId, Length: 1538384, dtype: int64

In [6]:
os = user_df['OS']
os = os.cat.add_categories('Unknown')
os.fillna('Unknown', inplace=True)
user_df.OS = os
print(os.value_counts(dropna=False))

Android    1455464
Unknown      67808
IOS          15112
Name: OS, dtype: int64

In [7]:
print(os.cat.categories)

Index(['Android', 'IOS', 'Unknown'], dtype='object')

In [8]:
province = user_df['province']
province = province.cat.add_categories('Unknown')
province.fillna('Unknown', inplace=True)
user_df.province = province
print(province.value_counts(dropna=False))

广东                        183972
江苏                         96784
山东                         94111
Unknown                    92260
河北                         82733
浙江                         77201
四川                         69178
河南                         68337
湖南                         60286
湖北                         53694
广西                         52632
安徽                         51437
辽宁                         48626
上海                         45722
福建                         44998
云南                         43984
北京                         40937
江西                         37767
山西                         36829
陕西                         32118
重庆                         28527
贵州                         28157
黑龙江                        26256
内蒙古                        23769
天津                         23150
新疆                         21336
吉林                         21220
甘肃                         20489
海南                         15230
宁夏                          6231
青海                          5010
西藏                          2099
香港                           941
澳门特别行政区                      473
中国                           371
台湾                           315
中华人民共和国                      109
Ontario                       84
澳门                            67
美国                            43
England                       37
加拿大                           25
越南                            25
新加坡                           22
缅甸                            22
Manila                        21
Toscana                       20
澳大利亚                          19
Shan                          19
Île-de-France                 17
Alberta                       13
Selangor                      13
Quebec                        13
Victoria                      13
意大利                           12
Cataluña                      11
老挝                            11
Lombardia                     10
Tôkyô                         10
英国                            10
Auckland                      10
Yangon                        10
Madrid                        10
Pahang                         9
柬埔寨                            8
马来西亚                           8
西班牙                            7
Cavite                         7
泰国                             7
Gyeonggi-do                    7
德国                             7
法国                             7
Scotland                       6
日本                             6
Queensland                     6
Gauteng                        6
California                     5
Banten                         5
韩国                             5
Moskva                         5
Tōkyō-to                       5
新西兰                            5
Central                        5
Estuaire                       5
Leinster                       5
Melaka                         4
巴西                             4
印度尼西亚                          4
Sindh                          4
Veneto                         4
俄罗斯                            4
Budapest                       4
Mandalay                       4
Gyeonggido                     4
Niedersachsen                  4
Ayeyarwady                     4
Emilia-Romagna                 4
Bayern                         4
Eastern                        4
菲律宾                            4
Nordrhein-Westfalen            4
Manitoba                       3
Lusaka                         3
几内亚                            3
Ôsaka                          3
蒙古                             3
尼日利亚                           3
Ōsaka-fu                       3
Sarawak                        3
阿联酋                            3
阿尔及利亚                          3
Gyeongsangbuk-do               3
Harare                         3
Johor                          3
Yunnan                         3
埃及                             3
Perak                          3
坦桑尼亚                           3
沙特阿拉伯                          3
Aichi-ken                      3
Luanda                         3
Zuid-Holland                   3
Chungcheongbuk-do              3
Chiba-ken                      3
Maseru                         3
Alger                          3
Bamako                         3
Bulacan                        3
Berlin                         3
Aragón                         2
Dornod                         2
南非                             2
Piemonte                       2
加纳                             2
Punjab                         2
Washington                     2
Toshkent                       2
Virginia                       2
孟加拉                            2
Katanga                        2
危地马拉                           2
Munster                        2
肯尼亚                            2
Coahuila                       2
Montserrado                    2
Jeju-do                        2
Vientiane                      2
Veracruz                       2
Tongatapu                      2
Aiti                           2
Kachin                         2
Attiki                         2
Valencia                       2
Madhyamanchal                  2
Beograd                        2
Terengganu                     2
Luzern                         2
Lima                           2
Chungcheongnamdo               2
Anzoátegui                     2
Saitama-ken                    2
Hyōgo-ken                      2
Panamá                         2
瑞士                             2
Dubai                          2
Ceará                          2
赤道几内亚                          2
Paramaribo                     2
Kinshasa                       2
Demerara-Mahaica               2
Saskatchewan                   2
Faro                           2
Lazio                          2
Chungcheongnam-do              2
Marche                         1
Phatthaya                      1
Kanagawa-ken                   1
Papua                          1
Hukuoka                        1
Oregon                         1
Oslo                           1
Ancash                         1
葡萄牙                            1
特立尼达和多巴哥                       1
Bayan-Ulgii                    1
丹麦                             1
Savannakhét                    1
Siga                           1
Hokkaidō                       1
Chachoengsao                   1
Bissau                         1
匈牙利                            1
Vaud                           1
Rhône-Alpes                    1
Nord-Pas-de-Calais             1
Bahia                          1
Maputo                         1
Tiba                           1
Fujairah                       1
Jeonranamdo                    1
Massachusetts                  1
Miranda                        1
Oran                           1
Skikda                         1
委内瑞拉                           1
斯里兰卡                           1
Antananarivo                   1
Baden-Württemberg              1
HaDarom                        1
Islamabad                      1
Lagos                          1
Littoral                       1
Seoul                          1
Umbria                         1
Vorarlberg                     1
Zeeland                        1
毛里塔尼亚                          1
牙买加                            1
荷兰加勒比                          1
Jalisco                        1
Dakar                          1
纽约州                            1
Pennsylvania                   1
莫桑比克                           1
Benguet                        1
Campania                       1
Coimbra                        1
Hiroshima-ken                  1
Hukui                          1
Kanagawa                       1
Lisboa                         1
Nicosia                        1
Sabah                          1
Aquitaine                      1
Sizuoka                        1
South-East                     1
亚太地区                           1
伊朗                             1
加利福尼亚州                         1
河内                             1
萨摩亚                            1
阿根廷                            1
Abruzzo                        1
Mie                            1
Dili                           1
Khomas                         1
芬兰                             1
塞拉利昂                           1
Tennessee                      1
尼泊尔                            1
Andalucía                      1
捷克                             1
加蓬                             1
Akershus                       1
Wien                           1
Georgia                        1
Groningen                      1
Jeollabuk-do                   1
Kwazulu-Natal                  1
Laguna                         1
Wellington                     1
Tuamasaga                      1
Sind                           1
Tasmania                       1
津巴布韦                           1
Minnesota                      1
Toyama-ken                     1
Kedah                          1
Szabolcs-Szatmár-Bereg         1
Kagawa-ken                     1
Ibaraki                        1
印度                             1
库拉索                            1
Hessen                         1
Enugu                          1
China                          1
Bago                           1
Balochistan                    1
Bern                           1
Callao                         1
Calabarzon                     1
Galicia                        1
Gihu                           1
Indiana                        1
Astana                         1
Thüringen                      1
Texas                          1
Chaco                          1
Mwanza                         1
Midtjylland                    1
Adana                          1
Alsace                         1
Bretagne                       1
Manzini                        1
Ehime                          1
Limburg                        1
Pomorskie                      1
Sicilia                        1
Wales                          1
Gangwon-do                     1
圭亚那                            1
多米尼加                           1
苏里南                            1
Ajman                          1
Annaba                         1
Bamyan                         1
多哥                             1
伊拉克                            1
克罗地亚                           1
Pafos                          1
卢旺达                            1
安哥拉                            1
Saitama                        1
莱索托                            1
Paraná                         1
Béchar                         1
Canarias                       1
Canterbury                     1
Champagne-Ardenne              1
Chungcheongbugdo               1
Okayama                        1
Kano                           1
Luxembourg                     1
Mizoram                        1
México                         1
Noord-Brabant                  1
Nevşehir                       1
巴布亚新几内亚                        1
Name: province, dtype: int64

In [9]:
city = user_df['city']
city = city.cat.add_categories('Unknown')
city.fillna('Unknown', inplace=True)
user_df.city = city
print(city.value_counts(dropna=False))

Unknown                 96072
上海                      45722
北京                      40937
广州                      31825
重庆                      28527
成都                      24619
天津                      23150
东莞                      22484
深圳                      21942
武汉                      19327
苏州                      18765
佛山                      17909
杭州                      17636
西安                      14886
石家庄                     14154
南京                      13028
济南                      12732
保定                      11994
大连                      11968
郑州                      11820
长沙                      11780
宁波                      11764
青岛                      11376
昆明                      11328
南宁                      11254
沈阳                      11053
合肥                      10171
哈尔滨                      9958
唐山                       9909
无锡                       9820
福州                       9592
惠州                       9296
泉州                       9160
长春                       8897
南通                       8743
潍坊                       8737
温州                       8409
金华                       8326
廊坊                       8319
临沂                       8299
中山                       8255
沧州                       8092
湛江                       7733
太原                       7713
邯郸                       7575
台州                       7520
徐州                       7357
盐城                       7039
汕头                       6997
济宁                       6921
绍兴                       6878
江门                       6799
赣州                       6662
贵阳                       6582
烟台                       6569
常州                       6495
南昌                       6485
南阳                       6297
厦门                       6202
嘉兴                       6133
漳州                       6052
菏泽                       5837
洛阳                       5748
揭阳                       5734
邢台                       5722
淄博                       5657
海南                       5536
邵阳                       5422
衡阳                       5318
桂林                       5254
乌鲁木齐                     5246
茂名                       5123
柳州                       5097
呼和浩特                     5004
常德                       4972
兰州                       4968
清远                       4944
张家口                      4925
肇庆                       4905
扬州                       4898
镇江                       4805
商丘                       4777
阜阳                       4755
周口                       4595
海口                       4521
聊城                       4505
新乡                       4462
泰州                       4461
珠海                       4455
德州                       4421
遵义                       4384
衡水                       4376
宜春                       4280
上饶                       4230
驻马店                      4224
晋中                       4211
湖州                       4190
黄冈                       4112
岳阳                       4093
怀化                       4048
玉林                       4031
郴州                       4024
淮安                       4018
曲靖                       3928
秦皇岛                      3893
阳江                       3879
贵港                       3858
九江                       3851
信阳                       3833
安庆                       3808
大理                       3782
襄阳                       3770
芜湖                       3767
鞍山                       3758
永州                       3748
毕节                       3732
吉安                       3716
泰安                       3708
荆州                       3700
梅州                       3694
运城                       3628
娄底                       3616
乐山                       3612
韶关                       3605
益阳                       3603
滨州                       3574
咸阳                       3559
绵阳                       3552
宜宾                       3468
南充                       3466
安阳                       3453
包头                       3449
吉林                       3444
临汾                       3428
大同                       3417
威海                       3387
宿迁                       3375
红河                       3359
连云港                      3355
宜昌                       3319
长治                       3314
株洲                       3298
百色                       3296
六安                       3248
滁州                       3239
承德                       3237
莆田                       3202
宿州                       3186
河池                       3161
广东                       3131
昭通                       3100
孝感                       3077
亳州                       3060
眉山                       3036
吕梁                       3017
银川                       3003
平顶山                      2997
梧州                       2973
开封                       2965
泸州                       2939
西宁                       2915
达州                       2915
德阳                       2910
鄂尔多斯                     2899
齐齐哈尔                     2883
焦作                       2867
钦州                       2843
蚌埠                       2803
宁德                       2801
潮州                       2784
许昌                       2783
渭南                       2776
抚州                       2771
河源                       2761
湘潭                       2724
楚雄                       2679
凉山                       2669
玉溪                       2652
湖北                       2645
锦州                       2636
云浮                       2615
黔东南                      2610
南平                       2599
龙岩                       2585
赤峰                       2564
汕尾                       2558
枣庄                       2508
三明                       2503
马鞍山                      2476
抚顺                       2445
黔南                       2445
东营                       2431
宣城                       2431
淮南                       2410
衢州                       2390
文山                       2382
崇左                       2377
忻州                       2342
营口                       2339
荆门                       2336
日照                       2325
铜仁                       2315
汉中                       2297
大庆                       2268
北海                       2259
恩施                       2229
濮阳                       2186
晋城                       2143
天水                       2138
宝鸡                       2118
丹东                       2093
来宾                       2065
普洱                       2049
广安                       2038
榆林                       2019
黔西南                      2009
黄石                       1987
铁岭                       1969
咸宁                       1968
六盘水                      1944
绥化                       1942
牡丹江                      1936
新疆                       1929
丽水                       1929
朝阳                       1911
葫芦岛                      1896
内江                       1891
保山                       1885
呼伦贝尔                     1875
十堰                       1867
阳泉                       1859
本溪                       1801
辽阳                       1797
昌吉                       1789
阿克苏                      1786
松原                       1762
伊犁                       1746
临沧                       1739
湘西                       1729
景德镇                      1708
自贡                       1705
乌兰察布                     1699
遂宁                       1692
通辽                       1690
佳木斯                      1643
安康                       1631
三亚                       1625
陇南                       1613
安顺                       1593
贺州                       1588
漯河                       1566
延边                       1563
巴音郭楞                     1551
喀什                       1546
萍乡                       1513
定西                       1511
广元                       1489
黄山                       1467
四平                       1458
巴彦淖尔                     1449
鸡西                       1423
淮北                       1412
通化                       1412
资阳                       1399
巴中                       1395
防城港                      1388
雅安                       1382
池州                       1369
铜陵                       1356
盘锦                       1350
舟山                       1338
朔州                       1333
白银                       1331
武威                       1322
德宏                       1321
平凉                       1312
庆阳                       1309
随州                       1306
新余                       1286
三门峡                      1283
儋州                       1271
西双版纳                     1263
攀枝花                      1250
阜新                       1242
延安                       1183
酒泉                       1167
锡林郭勒                     1166
丽江                       1148
张家界                      1144
临夏                       1118
河南                       1100
鄂州                       1096
白城                       1078
和田地区                     1065
鹤壁                       1029
鹰潭                       1016
张掖                       1013
吴忠                       1007
塔城                       1000
广西                        976
山东                        916
黑河                        910
香港                        898
白山                        882
商洛                        873
双鸭山                       844
兴安                        832
拉萨                        811
石嘴山                       797
鹤岗                        790
伊春                        747
海东                        743
中卫                        725
哈密                        703
克拉玛依                      693
辽源                        662
四川                        630
固原                        630
湖南                        629
金昌                        594
乌海                        581
阿勒泰                       558
浙江                        547
铜川                        538
阿坝                        512
云南                        509
江苏                        490
澳门特别行政区                   473
博尔塔拉                      468
海西                        461
嘉峪关                       460
河北                        457
甘孜                        452
贵州                        423
七台河                       409
吐鲁番                       399
甘南州                       380
安徽                        379
阿拉善                       377
山西                        359
仙桃                        358
怒江州                       331
迪庆                        310
辽宁                        309
日喀则                       288
文昌                        286
昌都                        283
琼海                        283
大兴安岭                      280
海南州                       267
万宁                        259
克孜勒苏                      257
天门                        255
澄迈                        247
福建                        235
山南                        222
济源                        222
潜江                        213
林芝                        206
江西                        206
陕西                        193
石河子                       191
黑龙江                       185
海北州                       180
乐东黎族自治                    179
那曲                        177
甘肃                        175
台湾                        171
玉树州                       164
东方                        142
陵水黎族自治                    138
Singapore                 136
内蒙古                       124
临高                        118
中华人民共和国                   109
昌江黎族自治                    103
定安                         99
黄南州                        98
果洛                         92
阿里地区                       83
白沙黎族自治                     80
屯昌                         76
琼中黎族苗族自治                   73
Toronto                    68
宁夏                         57
保亭黎族苗族自治                   56
澳门                         53
五指山                        51
阿拉尔                        47
青海                         43
五家渠                        40
台北                         34
Manila                     32
图木舒克                       25
西藏                         23
神农架林区                      22
新北                         21
London                     21
北屯                         19
台中                         19
Florence                   17
高雄                         17
越南                         16
美国                         16
Paris                      16
桃园                         13
Montreal                   13
Yangon                     11
Auckland                   10
Lashio                      9
Kelang                      9
Calgary                     9
Barcelona                   7
Madrid                      7
Tokyo                       7
三沙                          7
Milan                       6
新竹                          6
Edinburgh                   5
Johannesburg                5
台南                          5
苗栗                          5
Moscow                      5
Karachi                     5
德国                          5
Libreville                  5
Edmonton                    4
Saitama                     4
双河                          4
Mandalay                    4
Nairobi                     4
Budapest                    4
Melaka                      4
Dublin                      4
屏东                          4
南投                          4
Laukkaing                   4
Winnipeg                    3
Teriang                     3
Kampala                     3
Dubai                       3
Lagos                       3
Berlin                      3
Osaka                       3
Ipoh                        3
Harare                      3
Hannover                    3
Kuantan                     3
Ottawa                      3
Lusaka                      3
Cheongju                    3
Badalona                    3
Algiers                     3
Manchester                  3
Bamako                      3
Luanda                      3
Maseru                      3
Limerick                    2
Dehong                      2
Bucheon                     2
Kinshasa                    2
Rotterdam                   2
Birmingham                  2
Ōsaka-shi                   2
Zaragoza                    2
Mataro                      2
Tomisato-shi                2
Taunggyi                    2
York                        2
Milton                      2
Georgetown                  2
俄罗斯                         2
Matad                       2
Olching                     2
Tashkent                    2
Jakarta                     2
Hinthada                    2
Panama                      2
Muar                        2
Puchon                      2
Incheon                     2
Root                        2
Goyang-si                   2
Vientiane                   2
Regina                      2
Busan                       2
金门                          2
Kathmandu                   2
Bintulu                     2
Suva                        2
Monrovia                    2
Lima                        2
Liverpool                   2
Athens                      2
Oslo                        2
Naranjos                    2
Guelph                      2
Paramaribo                  2
Belgrade                    2
Seogwipo                    2
Nuku'alofa                  2
Sapporo-shi                 1
Aschaffenburg               1
Annaba                      1
Chiba                       1
Ajman                       1
Wassenaar                   1
Chimbote                    1
Salt                        1
Chiryū-shi                  1
Ravenna                     1
Doncaster                   1
Yumurtalık                  1
彰化                          1
Ageo-shi                    1
Gujranwala                  1
Leeds                       1
Bhamo                       1
Saltillo                    1
Suzuka                      1
Resistencia                 1
Grottazzolina               1
Yakawlang                   1
Aachen                      1
Rescaldina                  1
Bissau                      1
Nunawading                  1
Cerveteri                   1
Nottingham                  1
Lyon                        1
Chachoengsao                1
Chōfu-shi                   1
Dungun                      1
Lisbon                      1
Lille                       1
Leek                        1
Everett                     1
Fibbiana                    1
Fuenlabrada                 1
Greenslopes                 1
Harkaway                    1
Henrico                     1
Lausanne                    1
Jamshoro                    1
Kluang                      1
Irsee                       1
Kusatsu                     1
Windhoek                    1
莱芜                          1
Guildford                   1
Crevillent                  1
Tokuzan                     1
Tokorozawa-shi              1
Teramo                      1
Templestowe                 1
Syndal                      1
Skikda                      1
Seano                       1
Rufisque                    1
Oran                        1
Laverton                    1
Kōbe-shi                    1
Kwangyang                   1
Kuching                     1
Kasugai-shi                 1
Jhang                       1
Islamabad                   1
Guatire                     1
Тошкент                     1
Antananarivo                1
Ashqelon                    1
Montebelluna                1
Yerseke                     1
Winterbach                  1
Seoul                       1
Rome                        1
Redmond                     1
Rankweil                    1
Perugia                     1
Mongpauk                    1
Bentong                     1
Maubin                      1
Itapipoca                   1
Fujairah                    1
Frankston                   1
Edogawa-ku                  1
Douala                      1
Bentung                     1
Guadalajara                 1
Burlington                  1
Kitakyushu                  1
Bordeaux                    1
Coimbra                     1
Cheonan                     1
Baguio                      1
Atsugi                      1
Ansan-si                    1
Southampton                 1
Sosan                       1
Seto                        1
Savannakhet                 1
Sagamihara-shi              1
Portland                    1
Phatthaya                   1
Oxenford                    1
Merauke                     1
MacKenzie                   1
Lambton                     1
Kitchener                   1
Gaborone                    1
Hamamatsu                   1
Hiroshima-shi               1
Vaughan                     1
Barrie                      1
Ansan                       1
Annandale                   1
Alicante                    1
费利蒙                         1
宜兰                          1
伊朗                          1
Toshima-ku                  1
Latsia                      1
Serang                      1
Toyohashi                   1
Sandakan                    1
Sabae                       1
Philadelphia                1
Naples                      1
Maputo                      1
Yecheon                     1
Akishima-shi                1
Torino                      1
Sakai-shi                   1
Boronia                     1
Balok                       1
印度                          1
Vanderbijlpark              1
Turbigo                     1
Tsuchiura                   1
Riedstadt                   1
Wellcamp                    1
Osnabruck                   1
Nyiregyhaza                 1
Mitoyo-shi                  1
Minamibōsō-shi              1
Miki-shi                    1
Kyaukme                     1
Callao                      1
Chico                       1
Chilgok-gun                 1
Elkhart                     1
Gifu                        1
Gurun                       1
Hub                         1
Knoxfield                   1
Likasi                      1
Myitkyina                   1
Osan                        1
Osseo                       1
Pegu                        1
Pulaski                     1
Scugog                      1
Thun                        1
Vermont                     1
Kijal                       1
Kapar                       1

In [10]:
# 某些行列表长度为16，把每一个元素额外复制了3遍。
# 此处处理相当于[0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3] -> [0, 1, 2, 3]
age = user_df['age']
notnull = age[age.notnull()]
redundant_rows = notnull[notnull.str.split(',').map(len) == 16]
print(redundant_rows.iloc[:3].values)
redundant_rows = redundant_rows.str.split(',').map(lambda x: ','.join(x[::4]))
age[redundant_rows.index] = redundant_rows  # setting with copy warning
print('--->')
print(age[redundant_rows.index].iloc[:3].values)

['A_0_24:0.256968,A_0_24:0.256968,A_0_24:0.256968,A_0_24:0.256968,A_25_29:0.129631,A_25_29:0.129631,A_25_29:0.129631,A_25_29:0.129631,A_30_39:0.270219,A_30_39:0.270219,A_30_39:0.270219,A_30_39:0.270219,A_40+:0.343182,A_40+:0.343182,A_40+:0.343182,A_40+:0.343182'
 'A_0_24:0.129381,A_0_24:0.129381,A_0_24:0.129381,A_0_24:0.129381,A_25_29:0.234456,A_25_29:0.234456,A_25_29:0.234456,A_25_29:0.234456,A_30_39:0.314669,A_30_39:0.314669,A_30_39:0.314669,A_30_39:0.314669,A_40+:0.321493,A_40+:0.321493,A_40+:0.321493,A_40+:0.321493'
 'A_0_24:0.131260,A_0_24:0.131260,A_0_24:0.131260,A_0_24:0.131260,A_25_29:0.290373,A_25_29:0.290373,A_25_29:0.290373,A_25_29:0.290373,A_30_39:0.357634,A_30_39:0.357634,A_30_39:0.357634,A_30_39:0.357634,A_40+:0.220733,A_40+:0.220733,A_40+:0.220733,A_40+:0.220733']
--->
['A_0_24:0.256968,A_25_29:0.129631,A_30_39:0.270219,A_40+:0.343182'
 'A_0_24:0.129381,A_25_29:0.234456,A_30_39:0.314669,A_40+:0.321493'
 'A_0_24:0.131260,A_25_29:0.290373,A_30_39:0.357634,A_40+:0.220733']

/environment/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
# 对于缺失值，将各个年龄段的概率设为0.25
null = age[age.isnull()]
print(null.iloc[:3].values)
age[null.index] = 'A_0_24:0.25000,A_25_29:0.25000,A_30_39:0.25000,A_40+:0.25000'
print('--->')
print(age[null.index].iloc[:3].values)

[nan nan nan]
--->
['A_0_24:0.25000,A_25_29:0.25000,A_30_39:0.25000,A_40+:0.25000'
 'A_0_24:0.25000,A_25_29:0.25000,A_30_39:0.25000,A_40+:0.25000'
 'A_0_24:0.25000,A_25_29:0.25000,A_30_39:0.25000,A_40+:0.25000']

/environment/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [12]:
# 所有行格式一致后，进行字符串的分割
age_df = age.str.split(',', expand=True).applymap(lambda x: float(x.split(':')[1]))
age_df.columns = ['0-24', '25-29', '30-39', '40-']
print('no null in age df!')
print(age_df.isnull().sum())

no null in age df!
0-24     0
25-29    0
30-39    0
40-      0
dtype: int64

In [13]:
# 同样地，性别也有被重复的行
# 相当于[0, 0, 1, 1] -> [0, 1]
gender = user_df['gender']
notnull = gender[gender.notnull()]
redundant_row = notnull[notnull.str.split(',').map(len) == 4]
print(redundant_row.iloc[:3].values)
redundant_row = redundant_row.str.split(',').map(lambda x: ','.join(x[::2]))
gender.iloc[redundant_row.index] = redundant_row  # setting with copy warning
print('--->')
print(gender[redundant_row.index].iloc[:3].values)

['female:0.852616,female:0.852616,male:0.147384,male:0.147384'
 'female:0.534680,female:0.534680,male:0.465320,male:0.465320'
 'female:0.559464,female:0.559464,male:0.440536,male:0.440536']
--->
['female:0.852616,male:0.147384' 'female:0.534680,male:0.465320'
 'female:0.559464,male:0.440536']

/environment/miniconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [14]:
# 某些样本在male/female=1.0时，不会写另一个的概率为0.0，这里补充上，保持格式一致

notnull = gender[gender.notnull()]
length = notnull.str.split(',').map(len)
length_1 = length[length == 1]
length_1 = gender[length_1.index]
print(length_1.iloc[:3].values)
extend = length_1.map(lambda x: "female:0.00000," + x if x.startswith('male') else x + ',male:0.00000')
gender[extend.index] = extend  # setting with copy warning
print('--->')
print(gender[extend.index].iloc[:3].values)

['male:1.000000' 'male:1.000000' 'male:1.000000']
--->
['female:0.00000,male:1.000000' 'female:0.00000,male:1.000000'
 'female:0.00000,male:1.000000']

/environment/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [15]:
# 对于缺失值，置female = male = 0.5
null = gender[gender.isnull()]
print(null.iloc[:3].values)
gender[null.index] = 'female:0.50000,male:0.50000'
print('--->')
print(gender[null.index].iloc[:3].values)

[nan nan nan]
--->
['female:0.50000,male:0.50000' 'female:0.50000,male:0.50000'
 'female:0.50000,male:0.50000']

/environment/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [16]:
gender_df = gender.str.split(',', expand=True).applymap(lambda x: float(x.split(':')[1]))
gender_df.columns = ['female', 'male']
print('no null values in gender df!')
print(gender_df.isnull().sum())

no null values in gender df!
female    0
male      0
dtype: int64

In [17]:
device = user_df.deviceName
print(device.nunique(), 'unique values')
print(device.value_counts(dropna=False))
device = device.cat.add_categories('Unknown')
device.fillna('Unknown', inplace=True)
user_df.deviceName = device

3095 unique values
PBAM00         149501
PBBM00          74098
PBEM00          73779
NaN             67744
PACM00          54418
                ...
LG-H815             1
LG-M210             1
LM-V600             1
LenovoA5860         1
BLN-L24             1
Name: deviceName, Length: 3096, dtype: int64

/environment/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [29]:
user_df = pd.concat([user_df.drop(['age', 'gender'], axis=1), age_df, gender_df], axis=1)
user_df.head()

       userId deviceName       OS province     city  0-24  25-29  30-39  40-  female  male
0  1000372820   TAS-AN00  Android       广东       广州  0.40   0.06   0.52 0.02    0.05  0.95
1  1000652892     PACM00  Android       河北       唐山  0.62   0.09   0.14 0.16    0.28  0.72
2  1000908852       MI6X  Android       上海       上海  0.12   0.21   0.30 0.37    0.00  1.00
3  1001168798   iPhone11      IOS  Unknown  Unknown  0.44   0.49   0.06 0.01    0.87  0.13
4  1001305614  M2103K19C  Android       江苏       苏州  0.01   0.04   0.35 0.60    0.00  1.00

In [30]:
print(user_df.isnull().sum())

userId        0
deviceName    0
OS            0
province      0
city          0
0-24          0
25-29         0
30-39         0
40-           0
female        0
male          0
dtype: int64

In [35]:
user_df.to_pickle('~/data/user.pkl')